html,body,div {
	background-color: lightgrey              ;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
	
footer {
   text-align: center;
   margin-top : 5px;
  
}

p.size {
	font-weight:bold;
}
body {
		max-height: 90%;
		line-height: 1;
}
.box {
	 display: inline-block;
	height: 10%;
	width: 10%;
	z-index: 1;
	
	 background-color: black     ;
	 margin-left: -2px;
}
#main {
	width: 800px;
	margin:0 auto;
}


p.size {
	font-weight:bold;
}